<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BOOKSTORE ONLINE | Book</title>

    <!-- Custom fonts for this template -->
    <link th:href="@{../admin-stylesheet/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{../admin-stylesheet/css/sb-admin-2.min.css}" rel="stylesheet">
    <link th:rel="icon" th:href="@{../img/core-img/favicon.ico}">
    <!-- Custom styles for this page -->
    <link th:href="@{../admin-stylesheet/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6931f33cbe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/admin}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3" th:text="'Hi, '+${session.user.getFirstName()}">Hi, ${customer.customerName}</div>
        </a>

        <!-- -->



        <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                <span>Log Out</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Heading -->
        <div class="sidebar-heading">
            STORE INFORMATION
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span></a>
            </a>
            <!-- auth,cate,book,inv,user
       -->
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" th:href="@{/admin/authortable}">Author</a>
                    <a class="collapse-item" th:href="@{/admin/categorytable}">Category</a>
                    <a class="collapse-item" th:href="@{/admin/booktable}">Book</a>
                    <a class="collapse-item" th:href="@{/admin/publishertable}">Publisher</a>
                    <a class="collapse-item" th:href="@{/admin/invoicetable}">Invoice</a>
                    <a class="collapse-item" th:href="@{/admin/usertable}">User</a>
                </div>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#addnew"
               aria-expanded="true" aria-controls="collapsePages">
                <i class="fa-solid fa-plus" style="color: #ded9d9;"></i>
                <span>Add New</span></a>
            </a>
            <!-- auth,cate,book,inv,user
       -->
            <div id="addnew" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" th:href="@{/admin/add-new-author}">Author</a>
                    <a class="collapse-item" th:href="@{/admin/add-new-category}">Category</a>
                    <a class="collapse-item" th:href="@{/admin/add-new-publisher}">Publisher</a>
                    <a class="collapse-item" th:href="@{/admin/add-new-book}">Book</a>
                    <a class="collapse-item" th:href="@{/admin/add-new-user}">Admin</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Charts -->




        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div class="container">
        <p style="font-size: 40px; color: #0b0b0b">EDIT BOOK</p>
        <form th:action="@{/admin/process-edit-book}" method="post" th:object="${book}">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <p><strong>Book ID</strong></p>
                    <input type="text" class="form-control" th:field="*{bookID}" name="bookName" placeholder="Type book's name..." required readonly>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Book Name</strong></p>
                    <input type="text" class="form-control" th:field="*{bookName}" name="bookName" placeholder="Type book's name..." required readonly>
                </div>
                <div class="col-md-6 mb3">
                    <p><strong>Language</strong></p>
                    <input type="text" class="form-control" th:field="*{language}" readonly>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Import Price</strong></p>
                    <input type="number" min="0,1" step="0.1" class="form-control" th:value="${book.stock.getImportPrice()}"  name="bookImportPrice"  required placeholder="Type import price...">
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Quantity</strong></p>
                    <input type="number" min="1" step="1" class="form-control" th:value="${book.stock.getQuantity()}"  name="bookQuantity" value="${editstock.quantity}" required placeholder="Type book quantity...">
                </div>
                <div class="col-md-6 mb-3xa">
                    <p><strong>Description</strong></p>
                    <textarea class="form-control" th:field="*{description}" name="bookDescription" placeholder="Type description..." maxlength="255"></textarea>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Publish Year</strong></p>
                    <input type="text" th:value="${book.publishYear.year+1900}" readonly class="form-control"  name="bookPublishYear" required>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Publisher</strong></p>
                    <input type="text" class="form-control" th:value="${book.publisher.publisherName}" readonly>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Category</strong></p>
                    <input type="text" class="form-control"  value="${editbook.category.categoryName}" readonly>
                </div>
                <div class="col-md-6 mb-3">
                    <p><strong>Author</strong></p>
                    <input type="text" class="form-control" name="authors" th:each="author : ${book.authors}" th:value="${author.authorName} + ','" readonly>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-primary" type="submit">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="../admin-stylesheet/vendor/jquery/jquery.min.js"></script>
<script src="../admin-stylesheet/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../admin-stylesheet/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../admin-stylesheet/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="../admin-stylesheet/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../admin-stylesheet/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../admin-stylesheet/js/demo/datatables-demo.js"></script>
</body>

</html>
